*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: rgb(192, 192, 194) url(imagenes/vinilo-lindo-back-ground.jpg) center bottom;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-family: arial;
  font-size: 16px;
  color: black;
  display: flex;
  flex-direction: column;

}

img {
  max-width: 100%;
}

header,
h1 {
  color: black;
}

main,
h2 {
  margin-top: -100px;
  margin-bottom: -75px;
  margin-right: 130px;
  margin-left: 10px;
}

.introduccion {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 15px;
  display: flex;
  margin-left: 20px;
}

.descripcion-inicio{
width: 500px;
margin-top : 110px;
height: 15px;
margin-right: 40px; 
background-color: #2ecc71;

}

.descripcion-inicio, p{
  margin-left: 50px;
  font-size: 1em;
  flex: 1;
}

#header {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 100%;

}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_izquierda {
  display: flex;
  align-items: center;

}

.logo {
  display: block;
}

.logo img {
  max-width: 70px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
}

h1 {
  margin-bottom: 20px;

}

.nav_ico {
  display: block;
  width: 40px;
  cursor: pointer;
}

.main_nav {
  float: right;
}

.main_nav ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.main_nav ul li {
  float: left;
  margin: 0 0 0 30px;
  position: relative;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  overflow: hidden;
}

.main_nav ul li a {
  color: black;
  display: block;
  line-height: 1.4;
  text-decoration: none;
}

.main_nav ul li a:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 1px;
  width: 100%;
  background: black;
  transition: all 0.3s ease-in-out;
}

.main_nav ul li a:after {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: black;
  transition: all 0.3s ease-in-out;
}

.main_nav ul li:hover a:before {
  left: 0;
}

.main_nav ul li:hover a:after {
  right: 0;
}


h2 {
  margin-top: 100px;
}

.introduccion {
  margin-bottom: 100px;
  margin-left: 100%;
}

/*Apartir de aqui empieza el estilo css de los productos*/

.flex-container{
padding: 20px;
flex-direction: row;
flex-wrap: wrap;
display: flex;
width: 50%;
}

.product-card {  
  width: 200px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 16px;
  margin-right: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s;
}

.product-card , a {
  color: black;
  display: block;
  line-height: 1.4;
  text-decoration: none;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.product-image {
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin-bottom: 16px;
  
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  text-align: left;
  margin-left: 16px;
  flex: 1;
}

.product-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-artist {
  font-size: 12px;
  color: #666;
  margin-bottom: 8px;
}

.product-format {
  font-size: 12px;
  color: #666;
  margin-bottom: 8px;
}

.product-price {
  font-size: 13px;
  font-weight: bold;
  margin-top: 2px;
}


/*ESTILO PRODUCTOS VINILOS UNO POR UNO*/

main{
  display: flex;
   gap:30px;
   margin-top: 90px;
   margin-left: 90px;
  color: black;
  
}

.imagen-contenedor{
  margin-top: 60px;
  width: 650px;
}



main , h2{
  margin-right: 130px;
  margin-left: 10px;
  
}

h2{
  display: block;
  font-size: 1.30em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.precio{
  padding-bottom: 10px; 
}

.titulo-descripcion{
margin-left: 2px;
}

.contenedor-inf-producto{

  margin-left: -10px;
}

.añadir-cantidad{
  display: flex;  
  gap: 20px;
  padding-bottom: 20px;
  
}

.cantidad{
position: relative;
}

.input-cantidad{
background-color: #f7f7f7;
border: none;
padding: 10px;
width: 60px;
height: 100%;
color: #666;
font-weight: 500;
}

.input-cantidad:focus{
  outline: none;
}

.input-cantidad::-webkit-inner-spin-button
.input-cantidad::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.boton-añadir-cantidad{
  border: none;
  background-color: #252525;
  padding: 10px;
  color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 700;
  cursor:pointer;
}


.boton-añadir-cantidad:hover{
  color: #2ecc71;
  cursor:pointer;
}

.boton-incremento-decremento{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7px;
  right: 7px;
}
.boton-incremento-decremento{
  font-size:11px;
  color: #666;
  cursor: pointer;
}
.fa-chevron-down:hover{
  color: #666;
}
.fa-chevron-up:hover{
  color: #666;
}


.contenedor-redes{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  
}

.contenedor-redes span{
  font-weight: 300;
  color: #252525;
}

.contenedor-botones-redes{
  display: flex;
  gap: 15px;
  align-items: center;
}

.contenedor-botones-redes a:link,
.contenedor-botones-redes a:visited{
  color: #666;
  font-size :15px;  
}
.contenedor-botones-redes a:hover {
  color: #f7f7f7;
}

.contenedor-descripcion ,p{
  margin-left: 0px;
}


/* Estilos CSS para el aside */
.contenedor-contacto{
width: 150px;
margin-left: 50px;
margin-top: 0px;
margin-bottom: 50px;
}
main{
  margin-top: 0;
}
.contenedor-contacto ul {
  list-style-type: none; 
  padding-left: 0; 
  height: 30px;
  padding-top: 0px;
}

.contenedor-contacto , h4 {
  margin-top:70px ;
  padding: 0;
}

.contenedor-contacto ,h3,h4,h5{
font-size: 16px;
}

/*registro css empieza aqui*/
#registro-form {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#registro-form h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

#registro-form .registro-form__header {
  text-align: center;
  margin-bottom: 20px;
}

#registro-form .registro-form__input {
  margin-bottom: 10px;
}

#registro-form .registro-form__input label {
  display: block;
  margin-bottom: 5px;
}

#registro-form .registro-form__input input[type="text"],
#registro-form .registro-form__input input[type="password"],
#registro-form .registro-form__input input[type="email"],
#registro-form .registro-form__input input[type="tel"],
#registro-form .registro-form__input textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#registro-form .registro-form__input input[type="date"] {
  padding: 5px 5px 5px 20px;
}

#registro-form .registro-form__submit {
  text-align: center;
  margin-top: 10px;
}

#registro-form .registro-form__submit input[type="submit"] {
  padding: 5px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#registro-form .registro-form__submit input[type="submit"]:hover {
  background-color: #45a049;
}

footer {
  min-height: 50px;
  width: 99%;
  color: black;
  text-align:center;
  bottom: 0;
  left: 0;
  right: 0; 
}

.footer-content p a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.footer-content p {
  margin: 0;
}

/* Estilos para dispositivos grandes (más de 1024px de ancho) */


/* Estilos para dispositivos medianos (entre 769px y 1024px de ancho) */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para el encabezado */
  .container {
      flex-direction: column; 
      align-items: center; 
      padding: 0px;
    }
  

  /* Estilos para el contenido principal */
  main {
    margin-left: 0; 
    margin-right: 0; 
    gap: 20px; 
  }

  /* Estilos para los productos */
  .flex-container {
    width: 100%; 
    justify-content: center; 
    margin-top: 60px;
  }

  
  /* Estilos para el aside */
  .contenedor-contacto {
    margin-left: 50px; 
    width: 40%; 
    padding: 0px;
    margin-top:110px ;
  }

  /* Estilos para el formulario de registro */
  #registro-form {
    width: 40%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 100px;
 
  
  }
  .footer{
   margin-top:150px;
  }
}

  

/* Estilos para dispositivos pequeños (hasta 768px de ancho) */
@media only screen and (max-width: 768px) {


  .descripcion-inicio{
    padding-left: 25px;
    padding-right: 25px;
  }

  body {
    font-size: 14px; 
  }

  .container {
    flex-direction: column; 
    align-items: center; 
  }

  .main_nav {
    float: none; 
    text-align: center; 
  }

  .main_nav ul li {
    float: none; 
    margin: 0 0 15px 0; 
  }

  .descripcion-inicio {
    width: 100%; 
  }

  .descripcion-inicio, p {
    margin-left: 0; 
    text-align: center; 
  }
  .flex-container {
    margin-left:95px;
    margin-right: 40px;
    width: 100%; 
  }

  main, h2 {
    margin-right: 10px; 
    margin-left: 10px;
  }  

  #registro-form{
    width: 40%; 
    margin-left: auto;
    margin-right: auto; 
  }
  .footer{
    min-height: 20px;
    padding-bottom: 20px;
   
  }
  main {flex: 1;}

}

